html{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 1em;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
a{
    cursor: pointer;
}

li{
    line-height: 2.5em;
}

p,span,a,strong{
    line-height: 1.5em;
}


/* Estilos del header */
/* Estilos del header */
/* Estilos del header */

header h1{
    font-weight: bolder;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 32px;
    line-height: 1.18;
    text-align: center;
}
header h1 > a{
    color: #fe9126;
}

header nav{
    height: 50px;
    background-color: #fe9126;
    text-align: center;
    position: relative;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.4);
}
header nav button, header nav a{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    height: 50px;
    padding: 0px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header nav button{
    position: relative;
}
header nav .fas.fa-sort-down{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
}
.menu-container{
    display: inline-block;
    position: relative;
    margin-left:100px;
}
.menu{
    display: none;
    position: absolute;
    width: 175px;
    line-height: 2em;
    background-color: #fff;
    padding: 0px;
    z-index: 1000;
    
    text-align: left;
    list-style: none;
}
.menu a{
    height: fit-content;
    color: #999;
    font-size: 14px;
    display: block;
    padding: 10px 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    border-collapse:collapse;
}
.menu a:hover{
    background-color: rgba(230, 230, 230, 0.6);
}


/* Estilos del footer */
/* Estilos del footer */
/* Estilos del footer */

footer{
    color: white;
    padding: 5em 0 2em;
    background: #2b2a2a;
}
footer a{
    color: white;
    text-decoration: none;
}
footer h3{
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 1.8em;
    text-transform: uppercase;
    font-weight: bolder;
}
footer i{
    color: #fe9126;
    margin-right: 10px;
}
.footer-container {
    width:75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Background image set-up */
.bg-img{
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bg-img.parallax{
    background-attachment: fixed;
}

.div-dark{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Background image set-up */

.bg-img h2{
    color: white;
    font-size: 36px;
    width: 60%;
}

.y-align{
    display: flex;
    align-items: center;
    position: relative;
}
.x-align{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.display-none{
    display: none;
}

.float{
    display: flow-root;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}

form input.errorInput, form select.errorInput{
    border: 2px solid #ff4455;
}

#div_search>div>label{
    color: #fe9126;
    font-weight: bold;
}

span.far.fa-dot-circle{
    font-size: 40px;
    color: #fe9126;
    top: 70px;
    font-weight: 100;
    cursor: pointer;
}
span.far.fa-dot-circle:hover{
    transition: color 1000ms;
    color: #ff4455;

    transition: 100ms ease-in;
    font-weight: bold;
}