.format{
    padding: 5em 0;
    background-image: url(../img/beach_side_bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.format h2{
    font-family: 'Open Sans', serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    padding-bottom: .5em;
    position: relative;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 700;
}
.format h2::before{
    content: '';
    background: #3399cc;
    height: 2px;
    width: 25%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.form-container {
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content-box {
    width: 45%;
    padding: 3em;
    background: #F7F7F9;
    margin: 3em auto 0;
    position: relative;
    text-align: center;
}
.content-box input, .content-box select{
    outline: none;
    border: 1px solid #DBDBDB;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    color: #999;
    display: block;
    width: 505px;
}
.content-box input::placeholder{
    color: #999;
}
.content-box button, .content-box select{
    width: 527px;
}
.content-box button{
    height: 38px;
    line-height: 18px;
    outline: none;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    color: #fff;
    display: block;
    width: 100%;
    background: #3399cc;
    margin: 1.5em 0 0;
    box-shadow: none;
    font-weight: 100;
}
.content-box img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
#btnSeleccionarImagen{
    margin-bottom: 24px;
}
input, select{
    -webkit-appearance: txtfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    margin-bottom: 20px;
}
